*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #111;
}

section {
    position: relative;
    padding: 100px;
}

.header {
    position: fixed;
    background-color: #666;
    top: 0;
    left: 0;
    z-index: 1000000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-left: 1px;
}

.header .logo {
    color: #fff;
    padding: 4px 4px;
    text-decoration: none;
    font-size: 1.5em;
}
.header .logo span {
    font-size: 1.5em;
    color: #ff0157;
}

/*NAVIGATION EASY START*/
nav {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #333;
    z-index: 1;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    height: 100%;
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
    padding: 1em;
    text-transform: uppercase;
}

nav ul li a:hover {
    background-color: #ff0157;
}
/*NAVIGATION EASY ENDE*/

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top,#111,transparent);
}

.home .content {
    position: relative;
    max-width: 900px;
    text-align: center;
    z-index: 1;
}

.home .content h2 {
    color: #fff;
    font-size: 4em;
    text-shadow: 2px 2px 4px #000000;
}

.home .content h3 {
    color: #fff;
    font-size: 2em;
    font-weight: lighter;
    text-shadow: 2px 2px 4px #000000;
}

#textAnimationEng {
    color: #fff;
    transition: all 0.5s ease;
    text-shadow: 2px 2px 4px #000000;
}
/*.home .content p {
    color: #fff;
    font-size: 1.2em;
}*/

/*.btn {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    background: #fff;
    color: #333;
    text-decoration: none;
}*/

.btn {
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover {
    letter-spacing: 4px;
}

.fitBackgroundimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
    object-fit: scale-down;
    opacity: 0.8; 
}

.fitBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*opacity: 0.8;*/ 
}

.about {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .contentBox {
    min-width: 50%;
    width: 50%;
    /*text-align: end;*/
    text-align: left;
    padding-right: 40px;
}

.about .imgBox {
    position: relative;
    min-width: 50%;
    width: 50%;
    min-height: 500px;
}

.titleText {
    font-weight: 600;
    color: #FF073A;
    font-size: 2.2em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px #fff;
    /*letter-spacing: 5px;*/
}

.text {
    color: #F5F5F5;
    font-size: 1.2em;
}

.textEnglish {
    color: #fff;
    font-size: 1em;
}

.home2, .home3{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home2::before, .home3:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top,#111,transparent);
}

.home2::after, .home3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to bottom,#111,transparent);
}

.general {
    text-align: center;
}

.general .content {
    text-align: center;
}

.gallery {
    text-align: center;
}

.gallery .content {
    text-align: center;
}

.gallery .galleryList {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.gallery .galleryList .box {
    position: relative;
    min-width: 350px;
    height: 480px;
    background: #191919;
    transition: 0.5s;
    margin: 10px;
}

.gallery .galleryList:hover .box {
    opacity: 0.2;
} 

.gallery .galleryList .box:hover {
    opacity: 1;
} 

.gallery .galleryList .box .imgBox {
    position: relative;
    width: 100%;
    height: 400px;
} 

.gallery .galleryList .box .content {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery .galleryList .box .content h2 {
    color: #fff;
    font-weight: 500;
    line-height: 1.2em;
}

.gallery .galleryList .box .content h2 span {
    font-size: 0.8em;
    font-weight: 300;
    opacity: 0.5;
}

.contact {
    text-align: center;
}

.contact .content .addressTxt {
    color: #fff;
    font-size: 1.2em;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .socialMedia {
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.footer .sci {
    position: relative;
    display: flex;
}

.footer .sci li {
    list-style: none; 
}

.footer .sci li a {
    text-decoration: none;
    margin: 0 20px;
}

.footer .sci li a img {
    /*filter: invert(1);*/
    max-width: 40px;
    opacity: 1;
}

.footer .sci li a img:hover {
    opacity: 0.5;
}

.copyrightText {
    margin-top: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    color: #666;
    text-align: center;
}

.copyrightText a {
    color: #fff;
    text-decoration: none;
}

.footer .copyrightText span {
    font-size: 1.5em;
    color: #ff0157;
}

/*Animation pure css
h2 {
	text-align: center;
	animation: textwelle 3s;
	font-size: 2.1rem;
}

@keyframes textwelle {
	0% {
		transform: scale(0.1);
		opacity: 0;
	}
	70% {
		transform: scale(1.25);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}*/

/*Responsive*/
@media (max-width: 767px) {
    section {
        padding: 40px;
    }
    .header .logo {
        font-size: 0.8em;
    }
    nav ul li {
        font-size: 0.8em;
    }
    /*nav {
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul {
        width: 100%;
        flex-direction: column;
    }
    nav ul li {
        width: 100%;
        text-align: center;
    }
    nav ul li a {
        padding: .5rem 1rem;
    }*/
    .home .content h2 {
        font-size: 2.9em;
    }
    .home .content h3 {
        font-size: 1.2em;
    }
    .home .content p {
        font-size: 0.8em;
    }
    .about {
        flex-direction: column;
    }
    .about .contentBox, .about .imgBox {
        min-width: 100%;
        width: 100%;
        text-align: center;
        padding-right: 0px;
    }
    .about .imgBox {
        min-height: 250px;
    }
    .btn {
        margin-bottom: 30px;
    }
    .gallery .galleryList .box {
        position: relative;
        max-width: 350px;
        min-width: initial;
        width: 350px;
        height: 400px;
    }
    .gallery .galleryList .box .imgBox {
        height: 320px;
    }
    .footer .sci li a img {
        /*filter: invert(1);*/
        max-width: 30px;
    }
    .copyrightText {
        font-size: 0.8em;
    }
}