/*Allgemein*/
body {
    font-family: 'Lato', sans-serif;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.05);
}

h1, .display-3 {
    font-weight: 500;
}
h3, h4, .display-4 {
    font-weight: 700;
}

/*Struktur*/
#navbarMenu {
    /*padding: .6rem 1rem; nicht nutzen?*/
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #040404;
}
.navbar-nav .nav-link {
    padding-top: .8rem;
    color: white!important;
}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active {
    color: #00b3ff!important;
}
.navbar-brand {
    color: #00b3ff!important;
}
.navbar-nav .dropdown-menu {
    /*background: #343a40!important;*/
    background: #202020;
    /*background-color: transparent;*/
    /*color: white!important;*/
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.navbar-nav .dropdown-menu .dropdown-item {
    font-size: .9rem;
    font-weight: 700;
    color: white!important;
}
.dropdown .dropdown-menu .dropdown-item:hover {
    color: #00b3ff!important;
}

/*#header {
    background-image: url("../img/iceland1280.jpg");
    background-size: cover;
    background-position: center center;
    padding: 250px 5px;
    /*header ohne background-image(url....) nur background-image
    background-image: linear-gradient(#2d3436, #636e72);
    min-height: 100vh;
    background-size: contain;
    background-position: center center;
    padding: 300px 0px;
}*/

#header {
    /*background-image: url("../img/sunset.jpg");*/
    background-color: #111;
    background-size: cover;
    background-position: center;
    padding: 180px 0px;
}

#about {
    background-image: url("../img/digital-347062_1920.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#portfolio {
    /*background-color: #0088A3;*/
    background-image: url("../img/digital-347062_1920.jpg");
    background-size: cover;
    background-position: center;
    padding: 180px 0px;
}

#portfolio .img-thumbnail:hover {
    transform: scale(1.10);
}

#portfolio img {
    transition: transform .4s ease;
}

#footer .sci {
    position: relative;
    display: flex;
}

#footer .sci li {
    list-style: none; 
}

#footer .sci li a {
    text-decoration: none;
    margin: 0 20px;
}

#footer .sci li a img {
    /*filter: invert(1);*/
    max-width: 40px;
}


.footer-copyright {
    background: #202020;
}