body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slideshow {
    width: 100vw;
    height: 100vh;
    box-shadow: 0px 0px 10px grey;
    position: relative;
    background-color: #494949;
}

.slide {
    position: absolute;
    top: 6%;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 2s;
}

.slide-picture {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slide-textbereich {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 90%;
    /*background-color: rgba(0, 0, 0, 0.1);*/
    background-color: #494949;
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;
    padding: 0 15% 0 15%;
}

.slide-ueberschrift {
    font-size: 1em;
    margin: 20px 0;
}

.pfeil {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 40px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    color: rgba(255, 255, 255, 0.5);
    user-select: none;
    cursor: pointer;
}

.pfeil:hover {
    color: #ffffff;
}

.pfeil-links {
    left: 0;
}

.pfeil-rechts {
    right: 0;
}

.indikatorliste {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.indikator {
    padding: 0 5px;
    user-select: none;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 2s;
    color: #ffffff;
}

.aktiv {
    opacity: 1;
}

