/*----------footer----------*/
footer {
    min-height: 250px;
    padding: 50px 0px;
    background-color: #0F4A82;
}
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer-links a {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.footer-links a:hover {   /*fdasfdafffdasfdadfdasffafdaafafasdfafasdf*/
    color: #DC143C;
}
.footer-text {
    font-size: 15px;
    margin-top: 25px;
    color: #fff;
}
.footer-socials {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px
}
.footer-socials img {
    max-width: 30px;
}
.copyright-text {
    margin-top: 10px;
    font-size: 15px;
    color: #fff;
}
.copyright-text a {
    color: #DC143C;
}
/*----------footer----------*/
