/*----------Home----------*/
.home {
    width: 100%;
    background-image: url(img/elephant_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}
.main-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
}
.main-content h1 {
    font-size: 50px;
    color: #fff;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    /*text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
    text-shadow: 0 0 10px #070707;
    /*animation: flicker 1s ease-in-out infinite alternate;*/
}
@keyframes flicker {
    from {
      text-shadow:
      0 0 5px #00dcff,0 0 10px #00dcff,
      0 0 20px #00dcff, 0 0 40px #00dcff;
    }
    to {
      text-shadow:
      0 0 5px #09889c, 0 0 10px #09889c,
      0 0 20px #09889c, 0 0 40px #09889c;
    }
}
.main-content p {
    font-size: 30px;
    color: #b3b4b6;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    letter-spacing: 3px;
}
.button {
    margin-top: 30px;
}
.button a {
    font-size: 20px;
    background-color: #DC143C;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    letter-spacing: 1.5px;
    border-radius: 10px;
    text-shadow: 1px 1px 5px #070707;
    box-shadow: inset 0px 0px 10px #DC143C;
}
.button a:hover {
    background-color: #FF0000;
    transition: 0.5s;
}
@media(max-width: 800px) {
    .main-content {
        margin-bottom: 60px;
    }
    .main-content h1 {
        font-size: 50px;
    }
}
@media(max-width: 400px) {
    .main-content {
        margin-bottom: 300px;
    }
}
/*----------Home----------*/
