.aboutme-section{
    padding: 100px 0;
    background-color: #232933;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 100px;
}
.aboutme-text{
    width: 600px;
    max-width: 90%;
}
.aboutme-section img{
    width: 350px;
    max-width: calc(90% - 30px);
    border: 15px solid #fff;
}
.aboutme-text h2{
    font-size: 50px;
    letter-spacing: 2px;
    color: #297ae3;
    /*text-shadow: -1px 5px 3px rgba(0,0,0,1)*/
    text-shadow: 0 2px 1px rgba(0,0,0,1), -1px 3px 1px rgba(0,0,0,1), -2px 5px 1px rgba(0,0,0,1);
}
.aboutme-text p{
    color: #b3b4b6;
    text-align: justify;
    line-height: 175%;
}
@media(max-width: 750px){
    .aboutme-text h2{
        font-size: 12vw;
        text-align: center;
    }
}