body {
    background: #34495e;
    text-align: center;
    font-family: sans-serif;
}

.intro {
    margin: 30px 0px;
    font-weight: bold;
}

h1 {
    color: #ffffff;
    text-transform: uppercase;
}

.helpText {
    color: #ecf0f1;
    margin-bottom: 30px;
}

p {
    font-weight: 600;
}

input {
    border-radius: 5px;
    min-width: 65%;
    padding: 5px;
    border: none;
}

#enter {
    border: none;
    padding: 5px 15px;
    color: #ecf0f1;
    background-color: #7f8c8d;
    border-radius: 5px;
    transition: all 0.5 ease;
    -webkit-transition: all 0.5 ease;
    -moz-transition: all 0.5 ease;
    -ms-transition: all 0.5 ease;
    -o-transition: all 0.5 ease;
}

#enter:hover {
    color: #34495e;
    background-color: #95a5a6;
}

ul {
    text-align: left;
    margin-top: 20px;
}

li {
    list-style: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    background: #95a5a6;
    color: #34495e;
    text-transform: capitalize;
    font-weight: 600;
    border: 2px solid #95a5a6;
    border-radius: 5px;
    transition: all 0.5 ease;
    -webkit-transition: all 0.5 ease;
    -moz-transition: all 0.5 ease;
    -ms-transition: all 0.5 ease;
    -o-transition: all 0.5 ease;
}

li:hover {
    background: #7f8c8d;
    color: #ecf0f1;
    border-color: #7f8c8d;
}

li > button {
    font-weight: normal;
    background: none;
    border: none;
    float: right;
    color: #34495e;
    font-weight: 800;
}

.done {
    background: #27ae60 !important;
    color: #34495e;
    border-color: #27ae60 !important;
}

.delete {
    display: none;
}