.footer{
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #15171c;
}
.footer-links{
    width: 400px;
    max-width: calc(90%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.footer ul li{
    list-style: none;
}
.footer ul li a{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.footer ul li a:hover{
    color: #ff0157;
    transition: 0.5s ease;
}
.footer hr{
    width: 300px;
}
.footer p{
    margin-top: 30px;
    color: #ff0157;
}
.footer-socialmedia{
    width: 300px;
    max-width: calc(90% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer-socialmedia a{
    color: #fff;
    font-size: 40px;
}
.footer-socialmedia a:hover{
    color: #ff0157;
    transition: 0.5s ease;
}
.footer-copyright a{
    color: #fff;
    text-decoration: none;
}
@media(max-width:750px){
    .footer-socialmedia a{
        font-size: 9vw;
    }
}
