@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background-color: #15171c;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
/*#15171c dunkelgrau primary
#297ae3 blau main-brand
#232933 mittelgrau secondary
#2e3744 hellgrau light secondary
#b3b4b6 sehr hellgrau secondary text*/ 
