header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #444444;
    padding: 0 30px;
    z-index: 1;
}
.nav-logo{
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    color: #fff;
    text-decoration: none;
}
.navbar{
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.navbar ul li{
    font-size: 20px;
    color: #fff;
    letter-spacing: 3px;
    list-style: none;
}
.navbar ul li a{
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar ul li a:hover{
    color: #ff0157;
    transition: 0.3s ease;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}
@media(max-width: 750px){
    .hamburger{
        display: block;
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #444444;
        width: 100%;
        text-align: center;
        transition: 0.7s;
    }
    .navbar ul li{
        margin: 25px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}
