/*.scrollanimation{
    opacity: 0;
}
.sichtbar{
    opacity: 1;
    transition: opacity 5s;
}*/
.scrollanimation{
    opacity: 0;
    transform: scale(0.1);
    transition: all 1.5s ease-in-out;
}
.sichtbar{
    opacity: 1;
    transform: scale(1);
}
